<!DOCTYPE html>
<html lang="en">

<head>
    <title>SignUp</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/signup.css" type="text/css">
    <!--Stylesheet-->


</head>

<body style="background-image: url(helpr-bg1.jpg); background-repeat: no-repeat; background-size: cover;">



    <form action="/signup" method="post">
        <h3>Register Here</h3>
        <div class="input__box inline_1">
            <input type="text" placeholder="Full Name" name="firstname" required="required">
        </div>
        <div class="input__box inline_1" style="margin-left: 10px;">
            <input type="text" placeholder="Last Name" name="lastname" required="required">
        </div>
        <div class="input__box inline_1">
            <input type="email" placeholder="Email Address" name="email" required="required">
        </div>
        <%if(flagM==false){%>
            <div>
                <strong>Enter a valid email address</strong>>
            </div>
            <%}%>
                <div class="input__box inline_1" style="margin-left: 10px;">
                    <input type="password" placeholder="Create Password" name="password" required="required">
                </div>
                <%if(flagP==false){%>
                    <div>
                        <strong>Weak Password</strong>
                        <ul>
                            <li>should be between 8-15 characters</li>
                            <li>should contain atleast one capital alphabet</li>
                            <li>should contain atleast one number</li>
                            <li>should contain atleast one special character</li>
                        </ul>
                    </div>
                    <%}%>
                        <div class="input__box">
                            <input type="text" placeholder="enter address" name="address" required="required">
                        </div>
                        <div class="input__box inline_1">
                            <input type="text" placeholder="+91XXXXXXXXXX" name="contactnumber" required="required">
                        </div>
                        <%if(flagC==false){%>
                            <div>
                                <strong>please a valid phone number</strong>
                            </div>
                            <%}%>
                                <div class="input__box inline_1" style="margin-left: 10px;">
                                    <input type="text" placeholder="zipcode" name="zipcode" required="required">
                                </div>
                                <%if(flagZ==false){%>
                                    <div>
                                        <strong>Enter a valid Pincode</strong>
                                        <ul>
                                            <li>Should not start with 0</li>
                                        </ul>
                                    </div>
                                    <%}%>
                                        <div class="input__box inline_2">
                                            <input type="text" placeholder="city" name="city" required="required">
                                        </div>
                                        <div class="input__box inline_2" style="margin-left: 10px;">
                                            <input type="text" placeholder="state" name="state" required="required">
                                        </div>
                                        <div class="input__box inline_2" style="margin-left: 10px;">
                                            <input type="text" placeholder="country" name="country" value="India"
                                                required="required">
                                        </div>
                                        <div class="input__box ">
                                            <button type="submit" id="btnSubmit"
                                                class="submit-btn reg-btn">Register</button>
                                        </div>
                                        <br>

    </form>
</body>

</html>