<div class="my-5" id="foot">

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-black"
            style="background-color: #ecedef" width="500px"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #ecedef"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-black me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Company name</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #d99e20; height: 2px"
                  />
              <p>
               At Your Service
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Our Services</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #d99e20; height: 2px"
                  />
                 
                  <p>
                    <a href="#" class="text-black">Packers And Movers</a>
                  </p>
                  <p>
                    <a href="#" class="text-black">Home Cleaning</a>
                  </p>
             
              <p>
                <a href="#" class="text-black">Vehicle services</a>
              </p>
              
              <p>
                <a href="#" class="text-black">Pest control</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #d99e20; height: 2px"
                  />
              <p>
                <a href="#" class="text-black">Your Account</a>
              </p>
              <p>
                <a href="#" class="text-black">About</a>
              </p>
              <p>
                <a href="#" class="text-black">Our Services</a>
              </p>
              <p>
                <a href="#"  class="text-black">Contact Us</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #d99e20; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> IIIT SriCity</p>
              <p><i class="fas fa-envelope mr-3"></i> ays@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 91 90000 90000</p>
              <p><i class="fas fa-print mr-3"></i> + 91 80000 80000</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: #ecedef"
           >
        © 2022 Copyright:
        <a class="text-black" href="https://mdbootstrap.com/"
           >ays.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
  <!-- End of .container -->