<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff;">
    <!-- Navbar content -->
    <div class="container-fluid">
      <img id="logo" src="/AtYourService.jpg" alt="" width="85" height="36" class="d-inline-block align-text-top" />

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home/contactus">Contact Us</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Our Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/home/services/packersandmovers">Packers And Movers</a></li>
              <li><a class="dropdown-item" href="/home/services/homecleaning"> Home Cleaning</a></li>
              <li><a class="dropdown-item" href="/home/services/Appliances">Appliances</a></li>
              <li><a class="dropdown-item" href="/home/services/salonathome">Salon at home</a></li>
             
              <!-- <li><hr class="dropdown-divider"></li> -->
              
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/home/account/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/home/account/cart">My Cart</a></li>
              <li><a class="dropdown-item" href="/home/account/order">Orders</a></li>
              
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/home/account/settings">Settings</a></li>
              <li><a class="dropdown-item" href="/">Logout</a></li>

            </ul>
          </li>



        </ul>

      </div>
    </div>
  </nav>
