<div class="row">
    <div class="col">
        <figure class="fig">
            <a href="/home/services/salonathome"><img src="/salon.svg" height="180px" width="180px">
                <h5 style="color:black">Salon</h5>
            </a>
        </figure>
    </div>
    <div class="col">
        <figure class="fig">
            <a href="/home/services/homecleaning"><img src="/home_cleaning.svg" height="180px" width="180px">
                <h5 style="color:black">Home Cleaning</h5>
            </a>
        </figure>
    </div>
    <div class="col">
        <figure class="fig">
            <a href="/home/services/Appliances"> <img src="/appliance.svg" height="180px" width="180px">
                <h5 style="color:black">Appliances</h5>
            </a>
        </figure>
    </div>
    <div class="col">
        <figure class="fig">
            <a href="/home/services/packersandmovers"><img id="ac" src="/packers_movers.svg" height="180px"
                    width="180px">
                <h5 style="color:black">Packers And Movers</h5>
            </a>
        </figure>
    </div>
</div>